@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'arial';
    background-image: url(images/fond.png);
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

p {
    font-size: 25px;
}

button {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
}

button :hover{
    margin-top: 20px;
    width: 150px;
    height: 50px;
    background-color: rgba(0, 0, 40);
    color: white;
    border: solid 1px white;
    border-radius: 10px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    
    padding-left: 40px;
    padding-right: 40px;
    width: 70%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.397);
    border-radius: 50px;
    margin: 100px auto 0 auto;
}

h2 {
    font-family: 'Orbitron', cursive;
    margin-top: 300px;
    margin-left: 5%;
    font-size: 50px;
}

.lilTitle {
    margin-top: 150px;
    margin-left: 5%;
    font-size: 35px;
}

.navbar {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.712);
    position: fixed;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
    z-index: 1000;
}

.navbar li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: auto;

    width: 20%;
    height: 55%;
    border-radius: 10px;
    background-color: rgba(0, 0, 40);
}

.navbar li :hover{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: auto;

    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: white solid 1px;
}



.NomTitre {
    font-family: 'Orbitron', cursive;
    margin-top: 400px;
    margin-bottom: 400px;
    text-align: center;
    font-size: 85px;
    font-weight: 600;
}



footer {
    width: 100%;
    height: 100px;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.712);
    position: relative;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
    z-index: 1000;
}

.cv-container {
    text-align: center;
    margin-top: 120px;
}

.cv-img {
    display: block;
    margin: 10px auto;
    width: 55%;
    height: auto;
}

.cv-img:hover {
    width: 60%;
    box-shadow: 2000px;
    transition: 0.3s;
}

.download {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 40);
    color: white;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
}

.download:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px white;
}
