@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'arial';
    background-image: url(images/fond.png);
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

p {
    font-size: 25px;
}

button {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
}

button :hover {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    background-color: rgba(0, 0, 40);
    color: white;
    border: solid 1px white;
    border-radius: 10px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;

    padding-left: 40px;
    padding-right: 40px;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.397);
    border-radius: 50px;
    margin: 100px auto 0 auto;
}

h2 {
    font-family: 'Orbitron', cursive;
    margin-top: 300px;
    margin-left: 5%;
    font-size: 50px;
}

.lilTitle {
    margin-top: 150px;
    margin-left: 5%;
    font-size: 35px;
}



.navbar {
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.55);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10%;
    z-index: 1000;
}

.navbar ul {
    display: flex;
    gap: 2.5rem;
    list-style: none;
    margin-right: 3rem;
}

.navbar {
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.55);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    z-index: 1000;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin-right: 250px;
}



.navbar li a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

.navbar li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s ease;
}

.navbar li a:hover::after {
    width: 100%;
}

.navbar li a:hover {
    color: #ddd;
}





.NomTitre {
    font-family: 'Orbitron', cursive;
    margin-top: 400px;
    margin-bottom: 400px;
    text-align: center;
    font-size: 85px;
    font-weight: 600;
}



footer {
    width: 100%;
    height: 100px;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.712);
    position: relative;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    z-index: 1000;
}

.cv-container {
    text-align: center;
    margin-top: 120px;
}

.cv-img {
    display: block;
    margin: 10px auto;
    width: 55%;
    height: auto;
}

.download {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 40);
    color: white;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
}

.download:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 1px white;
}

.skillset {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 40px;
    width: 70%;
    margin: 100px auto 0 auto;
    background-color: rgba(0, 0, 0, 0.397);
    border-radius: 50px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border: 1px solid rgba(168, 85, 247, 0.6);
    border-radius: 15px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    color: white;
    font-size: 24px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    box-shadow: 3px 3px rgba(100, 0, 170, 0.2);
}

.card:hover {
    border-color: rgb(192, 132, 252);
    background-color: rgba(0, 0, 34, 0.497);
}

.tool-card {
    width: 170px;
    height: 170px;
    perspective: 1000px;
    margin: auto;
}

.tool-card .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.tool-card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(168, 85, 247, 0.6);
    border-radius: 15px;
    box-shadow: 3px 3px rgba(100, 0, 170, 0.2);
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    color: white;
    background: rgba(0, 0, 34, 0.7);
}

.card-front img {
    width: 100px;
    height: 100px;
}

.card-back {
    transform: rotateY(180deg);
    background: rgba(0, 0, 34, 0.95);
}
